.accomodation {
    margin-bottom: 34px;
}

.accomodation-heading {
    font-size: 40px;
    font-weight: 400;
    padding-left: 55px;
    margin: 0 0 20px 0;
}

.accomodation-list {
    padding: 0 0 30px 0;
    display: flex;
    flex-wrap: wrap;
}
  
.accomodation-card {
    border-radius: 15px;
    background-color: #ffffff;
}

.accomodation-item {
    margin-bottom: 26px;
    padding: 0 14px 0 13px;
}
  
.accomodation-item:nth-child(3n) {
    margin-right: 0px;
}

.hotel-image {
    border-radius: 15px 15px 0 0;
    margin-bottom: 30px;
    width: 100%;
}

.hotel-info {
    padding: 0 42px 44px 45px;
}
  
.hotel-price-and-rating {
    display: flex;
    margin-bottom: 10px;
}
  
.hotel-price {
    font-weight: 500;
    line-height: 1;
    margin: 0 33px 0 0;
}
  
.hotel-price-prefix {
    color: #a4a4a4;
}

.current-price {
    font-size: 22px;
}
  
.hotel-rating {
    display: block;
    padding-bottom: 5px;
    margin-left: auto;
}

.star-size {
    width: 16px;
    height: 15px;
}
  
.hotel-title {
    font-weight: 500;
    font-size: 16px;
    margin: 0 0 12px 0;
}
  
.hotel-location {
    color: #a4a4a4;
    line-height: 1.5;
    margin: 0 0 15px 0;
}
  
.hotel-link {
    display: inline-block;
    border-radius: 10px;
    color: var(--lagoona-color);
    border: 1px solid var(--lagoona-color);
    padding: 10px 18px;
    transition: color, background-color 0.2s ease;
}

.hotel-link:hover,
.hotel-link:focus {
    color: #ffffff;
    background-color: var(--lagoona-color);
}

.accomodation-final-card {
    border-radius: 15px;
    background-color: #000000;
}

.accomodation-final-img {
    background-image: url("../images/41.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.accomodation-item:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.accomodation-final-link::before {
    height: 367px;
    display: block;
    content: "";
}

.accomodation-final-link::after {
    height: 47px;
    display: block;
    content: "";
}

.accomodation-final-link {
    color: #ffffff;
    font-size: 22px;
    display: block;
    transition: background-position 0.2s ease;
}

.accomodation-final-link:hover,
.accomodation-final-link:focus {
    background-position: 93% 370px;
}

.white-arrow-img {
    padding: 0 37px;
    background-image: url("../images/white-arrow.png");
    background-repeat: no-repeat;
    background-position: 90% 370px;
}