.main {
    padding-top: 68px;
}

.hero-container {
    margin-bottom: 63px;
    display: flex;
}

.hero-heading {
    font-size: 40px;
    font-weight: 400;
    padding-left: 40.5px;
    margin-bottom: 18px;
    margin-top: 0;
}
  
.fast-booking {
    flex: 1 1 520px;
    margin-right: 55px;
}

.booking-form {
    display: flex;
    flex-direction: column;
}
  
.booking-input {
    border-radius: 15px;
    padding: 19px 20px 19px 20px;
    margin-bottom: 24px;
    line-height: 2;
    border: none;
    display: inline-block;
}
  
.submit-and-results {
    display: flex;
    align-items: baseline;
}
  
.find-number {
    color: #ffffff;
    border-radius: 12px;
    background-color: var(--lagoona-color);
    padding: 25px 29px;
    border: 1px solid var(--lagoona-color);
    margin-right: 29px;
    font-size: 16px;
    font-weight: 600;
    display: inline-block;
    transition: color, background-color 0.2s ease;
}

.find-number:hover,
.find-number:focus {
    color: var(--lagoona-color);
    background-color: #ffffff;
}

.booking-stats {
    color: #a4a4a4;
}

.numbers-availible {
    color: var(--lagoona-color);
}
  
.offer {
    border-radius: 10px;
    background-image: url("../images/22.jpg");
    padding-top: 268px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-right: 77px;
    padding-bottom: 37px;
}

.special-offer-heading {
    padding-left: 43px;
}

.special-offer {
    flex: 1 1 600px;
}

.promo-heading {
    font-size: 66px;
    color: #ffffff;
    width: 480px;
    line-height: 58px;
    margin-bottom: 33px;
    margin-top: 0;
}
  
.offer-info {
    display: flex;
    align-items: flex-end;
}
  
.offer-text {
    font-weight: 500;
    line-height: 30px;
    color: #948b85;
    font-size: 35px;
    margin-right: 41px;
    margin-bottom: 0;
    margin-top: 0;  
} 
  
.offer-link {
    color: var(--lagoona-color);
    transition: color, background-image, background-position  0.2s ease;
}

.offer-link:hover,
.offer-link:focus {
    color: #ffffff;
    background-position: 100% 1px;
    background-image: url("../images/white-arrow.png");
}
  
.arrow-img {
    background-image: url("../images/arrow.png");
    background-position: 93% 1px;
    background-repeat: no-repeat;
    padding-right: 25px;
}
  