@font-face {
    font-weight: 500;
    font-style: normal;
    font-family: 'Montserrat';
    font-display: swap;
    src:
        local('Montserrat regular'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-weight: 600;
    font-style: normal;
    font-family: 'Montserrat';
    font-display: swap;
    src:
        local('Montserrat semibold'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
    font-weight: 700;
    font-style: normal;
    font-family: 'Montserrat';
    font-display: swap;
    src:
        local('Montserrat bold'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff') format('woff');
}

@font-face {
    font-weight: 800;
    font-style: normal;
    font-family: 'Montserrat';
    font-display: swap;
    src:
        local('Montserrat extrabold'),
        url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../fonts/Montserrat-ExtraBold.woff') format('woff');
}

