.header {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 15px;
}

.header__logo-link {
    margin-right: auto;
}

.header__nav {
    padding-top: 30px;
    padding-bottom: 22px;
}

.header__list {
    display: flex;
    font-weight: 600;
    font-size: 18px;
}

.header__item:not(:last-child) {
    margin-right: 85px;
}

.header__search {
    width: 26px;
    height: 26px;
    margin-left: 71px;
    margin-top: 27px;
    margin-bottom: 23px;
    background-image: url(../images/Search.svg);
    background-repeat: no-repeat;
    background-color: inherit;
    border: inherit;
}
