.advantages {
    margin-bottom: 62px;
}

.advantages-heading {
    font-size: 40px;
    font-weight: 400;
    padding-left: 55px;
    margin: 0 0 20px 0;
}

.advantages-list {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;
    flex-wrap: wrap;
}
  
.advantages-card {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 42px 40px 32px 45px;
}

.advantages-item {
    padding: 0 12px;
    margin-bottom: 25px;
}

.advantage {
    margin: 0;
    line-height: 32px;
    font-weight: 500;
    background-position-x: left;
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: 60px;
    padding-top: 73px;
}
  
.advantages-item:nth-last-child(-n+4) {
    margin-bottom: 0;
}
  
.advantage-icon-buthtub {
    background-image: url("../images/bathtub.svg");
}
  
.advantage-icon-hanger {
    background-image: url("../images/hanger.svg");
}
  
.advantage-icon-heating {
    background-image: url("../images/heating.svg");
    background-size: 70px;
}
  
.advantage-icon-hotel-key {
    background-image: url("../images/hotel-key.svg");
}
  
.advantage-icon-parking {
    background-image: url("../images/parking.svg");
}
  
.advantage-icon-reception {
    background-image: url("../images/reception.svg");
}
  
.advantage-icon-security-box {
    background-image: url("../images/security-box.svg");
    background-size: 70px;
}
  
.advantage-icon-swimming-pool {
    background-image: url("../images/swimming-pool.svg");
}